.agregarCarro{
    margin-top: 5px;
    width: 150px;
    height: 30px;
    font-size: 0.6em;
    border-radius: 7px;

    color: #090909;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}

.agregarCarro:hover{
    box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
}